.searchListings{
    top: 209px;
    position: relative;
    /*background-color: yellow;*/
    width: 100%;
    min-height: 360px;
}

.container{
    position: relative;
    left: 199px;
    /* right: 400px; */
    /*background-color: green;*/
    width: 1264px;
    height: auto;
    /* padding-right: 121px; */
}

.listings{
    height: 252px;
    width: 800px;
    /*background-color: gray;*/
    padding: 10px;
    border-width: 10px;
    /*background-color: black;*/
    background-color: #f8f9fb;
    float: left;
}

.listingsContainer{
    width: inherit;
    height: inherit;
        background-color: white;
}

.image{
    float: left;
    padding: 10px;
    height: 280px;
    width: 310px;
    /*background-color: lightgray;*/
}

.imageContainer{
    width: inherit;
    height: inherit;
    /*background-color: darkblue;*/
}

.features{
    float: right;
    width: 450px;
    padding: 10px;
    height: inherit;

}

.price{
    height: 35px;
    font-size: 25px;
}

.location{
    height: 30px;
    font-size: 20px;
}
.type{
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
}

.description{
    height: 20px;
    font-size: 16px;
    padding: 20px 0px 0px 0px;
}

.containerImage{
    width: 100%;
}