.advSearchBox{
    width: 100%;
    height: 158px;
    color: black;
    display: block;
    top: 50px;
    background-color: black;
    position: absolute;
}

.container{
    left: 200px;
    position: relative;
    margin-right: 420px;
    height: inherit;
}

.container .first{
    position: relative;
    width: inherit;
    height: 75px;
}
.container .inputMargin{
    margin: 10px 10px 0px 0px;
    border-radius: 8px;
    text-indent: 5px;
    border-color: black;
}
.container .first .purpose{
    width: 10%;
    height: 64px;
    font-size: 20px;
}

.container .first .location{
    width: 38%;
    height: 60px;
    font-size: 20px;
}

.container .first .type{
    width: 24%;
    height: 64px;
    font-size: 20px;
}

.container .first .price{
    width: 25%;
    height: 60px;
    font-size: 20px;
    margin-right: 0px;
}

.container .second{
    position: relative;
    width: inherit;
    height: 75px;
}

.container .second .beds{
    width: 9.7%;
    height: 58px;
    font-size: 20px;
}
.container .second .area{
    width: 23%;
    height: 58px;
    font-size: 20px;
}
.container .second .baths{
    width: 13.9%;
    height: 58px;
    font-size: 20px;
}
.container .second .keyword{
    width: 23.7%;
    height: 58px;
    font-size: 20px;
}
.container .second .agent{
    width: 24.9%;
    height: 58px;
    font-size: 20px;
    margin-right: 0px;
}