.propertyDescription{
    position: relative;
    float: left;
    display: block;
    position: relative;
    float: left;
    left: 191px;
    width: 919px;
    background-color: #f8f9fb;
    /* width: inherit; */
    /*background-color: #f8f9fb;*/
    /*height: 200px;*/
    margin-top: 20px;
}

.heading{
    position: relative;
    float: left;
    height: 52px;
    width: -webkit-fill-available;
    margin: 10px;
    background-color: white;
    font-size: 35px;
    /* text-indent: -31px; */
    text-align: center;
}

.description{
    position: relative;
    float: left;
    width: -webkit-fill-available;
    margin: 10px;
    background-color: white;
}